.title{
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
}

form > label{
    margin-top: 10px;
}

form > span{
    margin-top: 10px;
}

form > input, select{
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
}
