* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 200px;
  animation: move 2s ease-in-out;
  filter: drop-shadow(0 0 5px #505050a0);
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55px);
  }
  100% {
    transform: translateX(0);
  }
}
#sing_in, #sing_up {
  width: 35rem;
}

.submit {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sign_up__from,
.sign_in__from {
  display: flex;
  flex-wrap: wrap;
}

#message_error {
  color: red;
  font-weight: 500;
}

@media (max-width: 768px) {
  #sing_in, #sing_up {
    width: 100%;
  }
}