*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 600px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img{
    width: 250px;
    margin: 20px;
}
.submit{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.sign_up__from{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
}

/* .buttons{
    width: 20%;
    margin-right: 20px;
    display: flex; 
    justify-content: space-between;

}

a, .a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 16px;
    padding: 10px 26px;
    background-color: #febf0a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: black solid 2px;
    color: black;
} */

@media screen and (max-width: 600px){
    .logo > img{
        width: 200px;
        margin: 20px auto;
    }
}
