* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
}

video{
  width: 80%;
  height:300px;
}

.filterAndVideo{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
}
.filter{
  min-height: 300px;
  margin: 5px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter > button{
  margin: 10px 0;
}

header {
  width: 80%;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(69, 69, 69, 0.425);
}


header > img {
  width: 80px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

nav > li {
  list-style-type: none;
  position: relative;
  font-size: 20px;
}

#cart-icon {
  position: relative;
}

#cart-icon > img {
  width: 40px;
}

.count {
  margin-top: 10px;
}

.badge {
  position: absolute;
  top: -25px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 200px;
  animation: move 2s ease-in-out;
  filter: drop-shadow(0 0 5px #505050a0);
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55px);
  }
  100% {
    transform: translateX(0);
  }
}
#sing_in,
#sing_up {
  width: 35rem;
}

.submit {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.sign_up__from,
.sign_in__from {
  display: flex;
  flex-wrap: wrap;
}

#message_error {
  color: red;
  font-weight: 500;
}

@media (max-width: 768px) {
  #sing_in,
  #sing_up {
    width: 100%;
  }

  .submit {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }
  nav > li{
    font-size: 16px;
  }

  header > img {
    display: none;
  }
}
